@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: #f4f4f4;
  color: #103741;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.font-urdu {
  font-family: var(--font-urdu);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
